<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TZMoon</title>
</head>
<body>
    <h1>API Reference</h1>
    <ul>
        <li>
            <a href="api/authentication/docs">Authentication</a>
        </li>
        <li>
            <a href="api/users/docs">Users</a>
        </li>
        <li>
            <a href="api/wallets/docs">Wallets</a>
        </li>
        <li>
            <a href="api/signup/docs">Sign up</a>
        </li>
        <li>
            <a href="api/developers/docs">Developers</a>
        </li>
        <li>
            <a href="api/developers-product/docs">Developers Product</a>
        </li>
    </ul>
</body>
</html>
